.dynamoToolsBox {
    position: fixed;
    top: 0px;
    right: -1px;
    width: 405px;
    background-color: #696969;
    border: 3px solid #ececec;
    overflow: hidden;
    zoom: ' + zoom + '
}

.dynamoToolsBox a {
    text-decoration: none;
}

.dynamoToolsBox input:focus,
.dynamoToolsBox select:focus {
    outline: none;
}

.dynamoToolsBox select {
    height: 21px;
}

.dynamoToolsBox h3 {
    color: #fff;
    text-align: center;
    margin: 10px;
}

.dynamoToolsBox .navigation {
    position: absolute;
    top: 0;
    background-color: #696969;
    cursor: pointer;
    width: 41px;
    height: 41px;
    text-align: center;
    vertical-align: middle;
    line-height: 41px;
}

.dynamoToolsBox .remove {
    right: 0;
}

.dynamoToolsBox .toogle {
    right: 42px;
}

.dynamoToolsBox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dynamoToolsBox li {
    background-color: #fdfdfd;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.dynamoToolsBox .hide {
    display: none;
}

.dynamoToolsBox .info label {
    float: left;
    font-weight: bold;
}

.dynamoToolsBox .info div {
    float: left
}

.dynamoToolsBox .green {
    background-color: #abffa5
}

.dynamoToolsBox .red {
    background-color: #ff0000
}

.dynamoToolsBox .info h3 {
    color: #2d2d2d;
    font-size: 20px;
    margin: 0px;
}

.dynamoToolsBox .execute:nth-child(odd) {
    background-color: #f7f7f7;
}

.dynamoToolsBox .execute label {
    float: left;
    font-weight: bold;
}

.dynamoToolsBox .execute div {
    float: left
}

pre.prettyprint {
    padding: 0px !important;
    border: 0px !important;
}

.dynamoToolsBox .copyright p {
    padding: 0px;
    font-size: 11px;
    margin: 0px;
    text-align: right;
    padding-right: 20px;
}

.atv {
    cursor: pointer;
}

.dynamoToolsBox .autocomplete {
    background-color: #f6f6f6;
    width: 95%;
    border-top: 0;
    overflow: hidden;
    margin-top: 3px;
    display: none;
}

.dynamoToolsBox .autocomplete.visible {
    display: block;
}

.dynamoToolsBox .autocomplete span {
    width: 100%;
    display: inline-block;
    padding: 3px;
    font-style: italic
}

.dynamoToolsBox .autocomplete span.active {
    background-color: #fff;
    color: #112d9b;
    font-weight: 700;
}

.itemDescActions {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #898989;
    width: 106px;
    left: 79px;
    text-transform: capitalize;
    cursor: pointer;
}

.itemDescActions div {
    padding: 3px;
    color: #000;
}

.itemDescActions div:hover {
    background-color: #f3f3f3;
}

.itenDescAutoComplete:hover .itemDescActions {
    display: block;
}

.dynamoToolsBox .favorites {
    background-color: #ffffff;
    padding-top: 5px;
}

.dynamoToolsBox .favorites a {
    width: 100%;
    display: inline-block;
    padding: 5px 0px;
}

.dynamoToolsBox input[type=text] {
    width: 130px;
    margin-right: 3px;
}

.dynamoToolsBox button {
    background-color: transparent;
    border: 0px;
    height: 21px;
    color: #696969;
    font-weight: 600;
}

.dynamoToolsBox button:hover {
    background-color: #efefef;
    cursor: pointer;
}